.deleteModal {
  border: 1px solid #dddddd;
  border-radius: 20px;
  min-width: 600px;
}

.modalQuestion {
  padding-top: 35px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  color: #606060;
  font-family: "BalooTammudu";
  font-size: 32px;
}

.modalConfirm {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  color: #ff7474;
  font-family: "BalooTammudu2-SemiBold";
  font-size: 24px;
}

.modalCancel {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;
  color: #606060;
  font-family: "BalooTammudu2-SemiBold";
  font-size: 24px;
}
