.otherMessageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.messageRow {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.otherMessage {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: rgba(221, 221, 221, 0.7);
  color: #333333;
  font-family: "Manrope", sans-serif;
}

.otherMessageLast {
  padding: 10px 25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgba(221, 221, 221, 0.7);
  color: #333333;
  font-family: "Manrope", sans-serif;
}
