.searchUserModal {
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  border-radius: 30px;
}

.searchUserModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}

.closeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.newMessage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #969696;
  font-family: "BalooTammudu";
  font-size: 18px;
}

.send {
  width: 60px;
  height: 26px;
  text-align: center;
  padding: 0px;
  border-radius: 20px;
  background-color: rgba(255, 116, 116, 0.7);
  color: #ffffff;
  font-family: "BalooTammudu";
  font-size: 14px;
  cursor: pointer;
}

.searchUserModalMiddle {
  border-bottom: 1px solid #dddddd;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

.sendTo {
  color: #969696;
  font-family: "BalooTammudu";
  margin-right: 10px;
}

.selectedUser {
  background-color: rgba(255, 116, 116, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-family: "BalooTammudu";
}

.removeUser {
  margin-left: 10px;
  cursor: pointer;
  color: #ff7474;
}

.input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.input::placeholder {
  color: #bdbdbd;
  font-family: "BalooTammudu2-Regular";
  font-size: 16px;
}

.userList {
  max-height: 326px;
  overflow-y: auto;
  min-height: 200px; /* Minimum height */
}

.userItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.userItem.selected {
  background-color: #f0f0f0;
}

.emptyUserList {
  height: 100%;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.id {
  color: #888;
}
