.classification {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 75px;
  margin-bottom: 15px;
}

.joinCommunity {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #dddddd;
}
