.community {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dddddd;
  width: 100%;
  max-width: 1200px;
  margin: 0 0 auto 0; 
}

.classification {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.joinCommunity {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #dddddd;
}
