.post {
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

.communityName {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
  color: #ff7474;
  font-family: "NotoSans-Bold";
  font-size: 18px;
  vertical-align: middle;
}

.moreIcon {
  width: 24px;
  height: 24px;
  float: right;
  vertical-align: middle;
}

.postDetail {
  display: flex;
  flex-direction: row;
}

.userProfile {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.postWriterContent {
  margin-left: 15px;
  flex-grow: 1;
}

.postWriter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.postWriterNickName {
  color: #333333;
  font-family: "NotoSans-SemiBold";
}

.postWriterID {
  color: #606060;
  font-family: "NotoSans-Regular";
}

.postWriteDate {
  color: #606060;
  font-family: "NotoSans-Regular";
  font-size: 12px;
}

.postContent {
  margin-bottom: 30px;
}

.postTitle,
.postPeriod,
.postResult {
  color: #333333;
  font-family: "NotoSans-Regular";
  line-height: 12px;
}

.postETC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 90px;
  margin-bottom: 10px;
}

.commentIcon,
.likeIcon,
.viewIcon,
.bookmarkIcon,
.shareIcon {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.commentNumber {
  color: #9c9c9c;
  font-family: "NotoSans-Regular";
  vertical-align: middle;
}

.likeNumber {
  color: #ff7474;
  font-family: "NotoSans-Regular";
  vertical-align: middle;
}

.viewNumber {
  color: #9c9c9c;
  font-family: "NotoSans-Regular";
  vertical-align: middle;
}

.postComment,
.postLike {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
