.studycontainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dddddd;
  width: 100%;
  max-width: 1200px; 
  margin: 0 0 auto 0; 
}

.tabstyle {
  padding-right: 40px;
  padding-left: 40px;
}
  