.recommendedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.recommendedHead {
  align-self: flex-start;
  margin-left: 20px; 
  color: #333333;
  font-family: "NotoSans-Bold";
  font-size: 20px;
}

.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.recommendedPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
