.recommendedContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px 20px;
  border-left: 1px solid #dddddd;
  height: 100vh;
}

.recommendedHead {
  align-self: flex-start;
  color: #333333;
  font-family: "NotoSans-Bold";
  font-size: 20px;
}

.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.recommendedPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
