.community {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dddddd;
  }
  
  .classification {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 12px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .joinCommunity {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #dddddd;
  }
  