.hotCommunityList {
  display: flex; /* Flexbox를 사용하여 가로 배열 */
  gap: 225px; /* 컴포넌트 간의 간격 */
  overflow-x: auto; /* 필요시 수평 스크롤 가능 */
}

.community {
  position: relative;
  padding: 16px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  max-width: 300px;
  width: 300px;
}

.classificationIcon {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(350%);
  width: 30.33px;
  height: 39px;
}

.bookmarkIcon {
  width: 100%;
  height: 100%;
}

.artIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.communityName {
  color: #ff7474;
  font-size: 16px;
  font-family: "NotoSans-Bold";
  margin: 0;
  margin-bottom: 16px;
}

.communityDetail {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #606060;
}

.communityDetailTitle {
  font-size: 14px;
  font-family: "NotoSans-SemiBold";
  margin-right: 12px;
}

.communityDetailContent {
  font-size: 14px;
  font-family: "NotoSans-Regular";
}

/* Small 사이즈 */
.smallCommunity {
  position: relative;
  max-width: 300px;
  width: 220px;
}

.smallclassificationIcon {
  position: absolute;
  top: -1px;
  left: 48%;
  transform: translateX(350%);
  width: 28px;
  height: 37px;
}

.smallCommunityName {
  font-size: 15px;
}

.smallCommunityDetailTitle,
.smallCommunityDetailContent {
  font-size: 13px;
}
