.community {
  position: relative;
  padding-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  max-width: 350px;
  /* max-height: 100px; */
}
.communityName {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  color: #ff7474;
  font-family: "NotoSans-Bold";
}
.postTitle {
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
  font-family: "NotoSans-Regular";
  font-size: 14px;
}

.postETC {
  float: right;
  margin-right: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.like,
.comment,
.bookmark {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.likeIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.likeNumber {
  color: #bdbdbd;
  font-family: "NotoSans-Regular";
  font-size: 12px;
  vertical-align: middle;
}

.commentIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.commentNumber {
  color: #bdbdbd;
  font-family: "NotoSans-Regular";
  font-size: 12px;
  vertical-align: middle;
}

.bookmarkIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
