.stackTagsArea {
<<<<<<< HEAD
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
  }

  .classContainer {
    display: flex;
    overflow-x: auto;
    min-width: 700px;
    max-width: 1080px;
    margin-left: 14px;
    margin-right: 14px;
    gap: 10px;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .classContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .classificationOn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 12px;
    background-color: rgba(255, 166, 166, 0.12);
    color: #ff7474;
    font-family: "NotoSans-Regular";
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    white-space: nowrap;
  }
  
  .classificationOff {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    background-color: #ffffff;
    color: #9c9c9c;
    font-family: "NotoSans-Regular";
    font-size: 16px;
    padding: 10px 20px;
    white-space: nowrap;
  }
  
  .overflowBox {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }
  
  .overflowBoxRight {
    right: 0;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0.804));
  }
  
  .overflowBoxLeft {
    left: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.804));
  }
  
  .scrollButton {
    pointer-events: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
=======
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.classContainer {
  display: flex;
  overflow-x: auto;
  min-width: 700px;
  max-width: 1080px;
  margin-left: 14px;
  margin-right: 14px;
  gap: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.classContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.classificationOn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 12px;
  background-color: rgba(255, 166, 166, 0.12);
  color: #ff7474;
  font-family: "NotoSans-Regular";
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.classificationOff {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  background-color: #ffffff;
  color: #9c9c9c;
  font-family: "NotoSans-Regular";
  font-size: 16px;
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
}

.overflowBox {
  position: absolute;
  top: 0;
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.overflowBoxRight {
  right: 0;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.804)
  );
}

.overflowBoxLeft {
  left: 0;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.804)
  );
}

.scrollButton {
  pointer-events: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
>>>>>>> e0d8b202abfa26a4f19529701f2611576d619b6d
