.InputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.Title {
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}

.InputButton {
    width: 900px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #B6B6B6;
    outline-color: #FF7474;
}

.Placeholder {
    color: #B6B6B6; 
    font-size: 14px; 
}

.ButtonImage {
    width: 16px;
    height: 16px;
}