.notifications-container {
<<<<<<< HEAD
    padding: 5px;
    position: fixed; /* Changed to fixed */
    top: 0;
    left: 20%;
    width: 435px;
    height: 100%;
    background-color: white;
    z-index: 1;
    border-left: 1px solid #ccc;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for both transform and opacity */
    transform: translateX(100%); /* Initially hidden */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .notifications-container.slide-in {
    transform: translateX(0); /* Slide in */
    opacity: 1; /* Visible */
  }
  
  .notifications-container.slide-out {
    transform: translateX(-100%); /* Slide out */
    opacity: 0; /* Hidden */
  }
  /* Custom scrollbar styles */
  .notifications-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .notifications-container::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
  }
  
  
  .notifications-container::-webkit-scrollbar-button {
    display: none;
  }
  
  .notifications-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .notifications-container :last-child {
    border-bottom: none;
  }
  .notification-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .notification-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .notification-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* 회색 원 */
    margin-right: 10px;
  }
  
  .notification-text {
    flex-grow: 1;
  }
  
  .notification-text .user {
    font-weight: bold;
  }
  
  .notification-details {
    color: #888;
    font-size: 12px;
  }
  
  .notification-details .topic {
    font-weight: bold;
  }
  
  .notification-details .time {
    margin-left: 5px;
  }
=======
  padding: 5px;
  position: fixed; /* Changed to fixed */
  top: 0;
  left: 20%;
  width: 435px;
  height: 100%;
  background-color: white;
  z-index: 1;
  border-left: 1px solid #ccc;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for both transform and opacity */
  transform: translateX(100%); /* Initially hidden */
  overflow-y: auto; /* Enable vertical scrolling */
}

.notifications-container.slide-in {
  transform: translateX(0); /* Slide in */
  opacity: 1; /* Visible */
}

.notifications-container.slide-out {
  transform: translateX(-100%); /* Slide out */
  opacity: 0; /* Hidden */
}
/* Custom scrollbar styles */
.notifications-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.notifications-container::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
}


.notifications-container::-webkit-scrollbar-button {
  display: none;
}

.notifications-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.notifications-container :last-child {
  border-bottom: none;
}
.notification-section {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.notification-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.notification-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc; /* 회색 원 */
  margin-right: 10px;
}

.notification-text {
  flex-grow: 1;
}

.notification-text .user {
  font-weight: bold;
}

.notification-details {
  color: #888;
  font-size: 12px;
}

.notification-details .topic {
  font-weight: bold;
}

.notification-details .time {
  margin-left: 5px;
}
>>>>>>> a9417f9dea07e31cc5792f18eb1ba4f71baba95c
