/* Notifications.module.css */

.notificationsContainer {
  padding: 5px;
  position: fixed;
  top: 0;
  width: 380px;
  height: 100%;
  padding: 0px 20px;
  background-color: white;
  z-index: 1;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(100%);
  overflow-y: auto;
}

.title {
  font-size: 24px;
  margin-top: 20px;
  font-family: 'BalooTammudu2-Bold';
  color: #333;
}

.slideIn {
  transform: translateX(0);
  opacity: 1;
}

.slideOut {
  transform: translateX(-100%);
  opacity: 0;
}

/* Custom scrollbar styles */
.notificationsContainer::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.notificationsContainer::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
}

.notificationsContainer::-webkit-scrollbar-button {
  display: none;
}

:lastChild {
  border-bottom: none;
}

.notificationSection {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.date {
  font-size: 16px;
  color: #333;
  font-family: 'NotoSans-SemiBold';
  margin-bottom: 20px;
}

.notificationItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.notificationText {
  flex-grow: 1;
}

.user {
  font-size: 14px;
  color: #333;
  font-family: 'NotoSans-SemiBold';
}

.action {
  font-size: 14px;
  color: #333;
  font-family: 'NotoSans-Regular';
}

.notificationDetails {
  color: #888;
  font-family: 'NotoSans-SemiBold';
  font-size: 12px;
}

.topic {
  color: #888;
  font-family: 'NotoSans-Medium';
  font-size: 12px;
}

.time {
  color: #888;
  font-family: 'NotoSans-Medium';
  font-size: 12px;
}

.noNotifivation {
  color: #333;
  font-family: 'BalooTammudu2-SemiBold';
  font-size: 16px;
  margin-left: 10px;
}
