.StudyPostContainer {
  display: flex;
  padding-top: 20px;
}

.StudyPostWrapper {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}

.StudyPostTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 16px;
}

.StudyPostState {
  background: #ff7474;
  border-radius: 25px;
  padding: 4px 8px;
  color: white;
  font-size: 12px;
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
}

.StudyPostState2 {
  background: #9a9a9a;
  border-radius: 25px;
  padding: 4px 8px;
  color: white;
  font-size: 12px;
  font-family: 'Manrope-Semibold';
  font-weight: 600;
}

.StudyPostTitle {
  color: #333333;
  font-size: 18px;
  font-family: 'Manrope-Semibold';
  font-weight: 600;
}

.StudyPostDescription {
  margin-bottom: 18px;
  color: #333333;
  font-family: "Manrope-Medium";
  font-size: 16px;
  font-weight: 400;
}

.StudyPostTags {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
}

.StudyPostTag {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 4px 8px;
  font-size: 14px;
  font-family: "Manrope-Medium";
  color: #656565;
}

/* .StudyPostFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.StudyPostIconGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.StudyPostIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.StudyPostIcon img {
  width: 18px;
  height: 18px;
}

.StudyPostIcon span {
  color: #9c9c9c;
  font-size: 12px;
} */
