.header {
  border-bottom: 1px solid #dddddd;
  min-width: 700px;
}

.backIcon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 15px 25px 15px 25px;
}

.headerName {
  color: #333333;
  font-family: "NotoSans-Bold";
  font-size: 18px;
  vertical-align: middle;
}
