.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.postModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dddddd;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: "BalooTammudu2-SemiBold";
}

.postItems {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.postItem {
  padding: 8px 16px;
  display: block;
  color: #333;
  text-decoration: none;
  font-family: "NotoSans-SemiBold";
  margin-left: 8px;
}
