.side {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%; /* 사이드바의 너비를 20%로 설정 */
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  z-index: 1000; /* 필요에 따라 z-index 설정 */
  display: flex;
  flex-direction: column;
}

.logo {
  width: 65px;
  height: 50px;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menus {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 10px;
  width: calc(100% - 60px);
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

.menu:hover {
  background-color: #f3f3f3;
}

.menuOn {
  font-family: "BalooTammudu";
  font-size: 20px;
}

.menuOff {
  font-family: "BalooTammudu2-Regular";
  font-size: 20px;
}

.post {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #ff7474;
  font-family: "BalooTammudu";
  font-size: 20px;
  transition: background-color 0.3s ease;
}

/* 수정된 부분: 공백을 제거하고 .post:hover로 변경 */
.post:hover {
  background-color: #f75858;
}
