/* Sidebar.module.css */
.side {
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 20px 40px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 70px;
  margin-bottom: 15px;
}

.menus {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.logoAndLogout {
  display: flex; /* Flexbox를 사용하여 가로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
}
.logoutLink {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
  margin-left: 70px;
  vertical-align: middle;
  display: inline-block;
  transition: color 0.3s ease; /* 색상 전환 애니메이션 */
}

.logoutLink:hover {
  color: #000000; /* hover 시 색상 변경 (진해짐) */
}
.menu {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

.menu:hover {
  background-color: #f3f3f3;
}

.menuOn {
  font-family: "BalooTammudu";
  font-size: 20px;
  text-decoration: none;
}

.menuOff {
  font-family: "BalooTammudu2-Regular";
  font-size: 20px;
  text-decoration: none;
}

.post {
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #ff7474;
  font-family: "BalooTammudu";
  font-size: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.post:hover {
  background-color: #f75858;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdownItem {
  padding: 8px 16px;
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: #f3f3f3;
}

.profileImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.profileText {
  margin-left: 20px;
  text-decoration: none;
  text-decoration-line: none;
  font-family: "BalooTammudu2-Regular";
  font-size: 20px;
  color: #333333;
}
