/* .Explore {
 }  */

.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative; /* Add position relative */
}

.InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.SearchIcon {
  position: absolute;
  left: 10px;
  width: 24px; /* 아이콘 크기 조정 */
  height: 24px; /* 아이콘 크기 조정 */
  opacity: 1; /* 아이콘을 보이게 설정 */
}

.SearchInput {
  width: 800px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0px 0px 0px 45px;
  font-size: 15px;
  font-weight: 700;
  color: "black";
  margin-right: 30px;
}

.SearchInput::placeholder {
  color: #b6b6b6; /* placeholder 텍스트 색상 */
  font-size: 15px; /* placeholder 텍스트 크기 */
  font-weight: 700;
}
.SearchButton {
  width: 78px;
  height: 48px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'BalooTammudu2-Bold';
  background-color: #ff7474;
  border-radius: 10px;
  color: white;
  border: none;
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #e76969;
}

.SearchHistoryContainer {
  position: absolute;
  /* top: 100%;
  left: 12%; */
  width: 840px;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.SearchText {
  padding-bottom: 10px;
  font-family: 'Manrope-SemiBold';
  color: #333;
}

.SearchHistoryList {
  font-size: 16px;
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  color: #333;
  list-style-type: none;
  padding-top: 10px;
}

.SearchHistoryItem {
  padding: 10px;
  cursor: pointer;
}

.SearchHistoryItem:hover {
  background: #ececec;
}

.HistoryTextContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.PopularTagContainer {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 30px 0px;
}

.CategoryText {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  padding: 0px 40px;
  margin-bottom: 30px;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.arrowButton {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px 8px 4px 8px;
}

.tagButton {
  height: 32px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px 8px 4px 8px;
  font-weight: 600;
  font-size: 14px;
  color: #656565;
}

.HotCommunitiesContainer {
  padding: 30px 0px;
  border-bottom: 1px solid #ddd;
}

.HotCommunityContainer {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 40px;

}
.scrollContainer {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of child elements */
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
}

.hotCommunityItem {
  margin-right: 25px; /* Example margin, adjust as necessary */
}

.PopularStudyContainer {
  padding: 30px 0px; 
  /* border-bottom: 1px solid #ddd; */
}

.StudyPostContainer {
  position: relative;
  padding: 0px 40px;
  display: flex;
  flex-direction: column; /* Add this line to change the direction to column */
}

.InputContainer {
  display: flex;
}
