/* .Explore {
 } */

.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.SearchIcon {
  position: absolute;
  left: 10px;
  width: 24px; /* 아이콘 크기 조정 */
  height: 24px; /* 아이콘 크기 조정 */
  opacity: 1; /* 아이콘을 보이게 설정 */
}
.SearchInput {
  width: 1000px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
  padding: 0px 0px 0px 45px;
  font-size: 15px;
  font-weight: 700;
  color: "black";
  border: 1px solid #ccc;
  margin-right: 30px;
}
.SearchInput::placeholder {
  color: #b6b6b6; /* placeholder 텍스트 색상 */
  font-size: 15px; /* placeholder 텍스트 크기 */
  font-weight: 700;
}
.SearchButton {
  width: 78px;
  height: 48px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff7474;
  border-radius: 10px;
  color: white;
  border: none;
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #e76969;
}

.PopularTagContainer {
  width: 100%;
  height: 144px;
  border-bottom: 1px solid #ddd;
  padding-top: 30px;
}

.CategoryText {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  padding-left: 5%;
  padding-bottom: 20px;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.arrowButton {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px 8px 4px 8px;
}

.tagButton {
  height: 32px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 4px 8px 4px 8px;
  font-weight: 600;
  font-size: 14px;
  color: #656565;
}
