.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dddddd;
  border-radius: 20px;
  width: 400px;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: "BalooTammudu2-SemiBold";
}

.modalQuestion {
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  color: #606060;
  font-size: 24px;
}

.modalConfirm {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  color: #ff7474;
  font-size: 18px;
  cursor: pointer;
}

.modalCancel {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #606060;
  font-size: 18px;
  cursor: pointer;
}
