.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.inputTitle {
  text-align: right;
  color: #808080;
  font-family: "NotoSans-SemiBold";
  font-size: 20px;
  min-width: 100px;
}

.inputField {
  flex-grow: 1;
  height: 40px;
  padding-left: 16px;
  border-radius: 8px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #b6b6b6;
  outline-color: #ff7474;
}

.inputField::placeholder {
  color: #b6b6b6;
  font-family: "NotoSans-Regular";
  font-size: 14px;
}
