.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.inputTitle {
  text-align: right;
  color: #808080;
  font-family: "NotoSans-SemiBold";
  font-size: 20px;
  min-width: 100px;
}

.inputClick {
  flex-grow: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1; */
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #b6b6b6;
  cursor: pointer;
}

.inputPlaceholder {
  color: #b6b6b6;
  font-family: "NotoSans-Regular";
  font-size: 14px;
}

.activeText {
  color: #808080;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(221, 221, 221, 0.3);
  z-index: 1000;
}
